.portfolio {
    display: grid;
    grid-template-rows: repeat(11, 17vw);
    grid-template-columns: repeat(4, 17vw);
    grid-gap: 10px;
}

.portfolio img {
    width: 100%;
}

.one {
    grid-row: span 2;
    grid-column: span 2;
}

.two {
    grid-row: span 1;
    grid-column: span 1;
}

@media only screen and (max-width: 600px) {
    .portfolio {
        grid-template-rows: repeat(14, 16vw);
        grid-template-columns: repeat(4, 16vw);
    }
}