.privacy-policy {
  margin-left: 10%;
  margin-right: 10%;
  padding: 5%;
  margin-top: 100px;
  margin-bottom: 50px;
}

.privacy-policy a {
  color: chocolate;
}

nav {
  background-color: #2a2c3b;
}

.privacy-policy h1 {
  font-size: 30px;
}

@media only screen and (max-width: 768px) {
  .privacy-policy {
      margin-top: 60px;
      margin-bottom: 20px;
  }
}

@media only screen and (min-width: 992px) {
  .privacy-policy {
      margin-top: 80px;
      margin-bottom: 35px;
  }
}

@media only screen and (min-width: 1200px) {
  .privacy-policy {
      margin-bottom: 50px;
  }
}