body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    min-height: 150vh;
}

@font-face {
    font-family: my-header-font;
    src: url('../fonts/Raleway/static/Raleway-Bold.ttf');
}

.header {
    position: relative;
    height: 50vh;
    width: 100%;
    background-image: url('../images/bgheader.jpg');
    background-size: cover;
    /* background-attachment: fixed; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-position: center center;
    background-repeat: no-repeat;
}

.navbar-toggler{
    background-color:white;
}

.navbar-nav.navbar-right {
    position: absolute;
    right: 8rem;
}

.navbar-nav li {
    margin-left: 5rem;
}

.navbar-nav a {
    font-family: my-header-font;
    font-size: 1.1rem;
    color: white !important;
    font-weight: bold;
    border-bottom: solid;
    border-color: transparent;
}

.navbar-nav a:hover {
  border-bottom: solid;
}

.navbar {
    background-color: transparent;
    position: absolute !important;
    top: 0 !important;
    height: 50px;
    width: 100vw;
    z-index: 3;
}

.header-overlay {
    height: 100%;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 1;
    opacity: 0.40;
}

.header-logo {
    height: 5em;
    margin-bottom: 1em;
}

.divtext {
    z-index: 3;
    font-size: 2em;
    color: white;
    font-family: my-header-font;
}

.container {
    text-align: center;
}

@media (max-width: 600px) {
    .divtext {
        font-size: 1.9em;
    }
    .header{
    clip-path: circle(200vh at 50% -150vh);

    }
}
@media (min-width: 600px) {
    .divtext {
        font-size: 2.1em;
    }
    .header{
    clip-path: circle(250vh at 50% -200vh);
    }
}

@media (min-width: 768px) {
    .divtext {
        font-size: 2.3em;
    }
    .header{
    clip-path: circle(300vh at 50% -250vh);

    }
}


@media (min-width: 992px) {
    .divtext {
        font-size: 2.5em;
    }    
    .header {
        height: 80vh;
        background-size: cover;
        clip-path: circle(500vh at 50% -420vh);
    }
}    
