body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    min-height: 150vh;
}

@font-face {
    font-family: my-header-font;
    src: url('../fonts/Raleway/static/Raleway-Bold.ttf');
}

.header {
    position: relative;
    padding: 20%;
    width: 100%;
    background-image: url('../images/bgheader.jpg');
    background-size: cover;
    /* background-attachment: fixed; */
    display: flex;
    clip-path: circle(260vh at 50% -195vh);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-position: center center;
    background-repeat: no-repeat;
}

.navbar-toggler{
    background-color:white;
}

.navbar-nav.navbar-right {
    position: absolute;
    right: 8rem;
}

.navbar-nav li {
    margin-left: 5rem;
}

.navbar-nav a {
    font-family: my-header-font;
    font-size: 1.1rem;
    color: white !important;
    font-weight: bold;
    border-bottom: solid;
    border-color: transparent;
}

.navbar-nav a:hover {
  border-bottom: solid;
}

.navbar {
    background-color: transparent;
    position: absolute !important;
    top: 0 !important;
    height: 50px;
    width: 100vw;
    z-index: 3;
}

.header-overlay {
    height: 100%;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 1;
    opacity: 0.20;
}

.header-logo {
    height: 5em;
    margin-bottom: 1em;
}

.divtext {
    font-size: 2em;
    color: white;
    font-family: my-header-font;
}

.container {
    text-align: center;
}

@media (min-width: 576px) {
    .header {
        padding: 0;
        height: 100vh;
    clip-path: circle(280vh at 50% -180vh);

    }
    .divtext {
        font-size: 2.5em;
    }
}
        
@media (min-width: 992px) { 
    .navbar{    
        background-color: rgba(0, 0, 0, 0.4);
    }
  
}
